.Test {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.Test-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

@media (min-width: 650px ) {
    .Test {
        background-position: center center;
    }

    .Test-content {
        
        align-items: center;
        justify-content: center;
        color: rgb(62, 151, 102);
    }
    .Test-content ul {
        list-style: none;        
    }
}