.Video {
    background-color: #151515;
    background-size: cover;
    text-align: center;
    padding-top: 5rem;
    /* margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem; */
}

.Video-content {
    color: rgb(241, 222, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

