.Video {
    /* background-color: #151515;
    background-size: cover;
    text-align: center;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem; */

    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    perspective: 100px;
    background: linear-gradient(180deg, #184d47, rgb(255,255,255));
}

.Video-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.Video-content h2{
    color: rgb(4, 2, 39);
}

.Video-content p{
    color: rgb(4, 2, 39);
}