.Front {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.Front-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.Front-content h1{
    color: rgb(219, 8, 226);
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
}

.Front-content p{
    color: rgb(12, 138, 117);
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}

@media (min-width: 650px ) {
    .Front {
        background-position: center center;
    }

    .Front-content {
        align-items: center;
        justify-content: center;
        color: rgb(203, 191, 255);
    }
}