.Animate {   
    height: 100vh;
    background-color: #940eff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.Animate h1{
    color: #0078ff;   
}

.Animate p{
    font-size: 2em;
    color: #0078ff;   
}

.Animate-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}
