.AnimateTwo {
  /*  height: 100vh;
   background-color: #ce07ae;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center; */

   width: 100%;
   height: 100vh;
   overflow: hidden;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   perspective: 500px;
   background: linear-gradient(180deg, #bac964, #436f8a);
 }

.AnimateTwo-Header{
   width: 200px;
   height: 200px;
   display: flex;
   place-content: center;
   overflow: hidden;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 30px;
   /* flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 40px; */
 }

.item {
   width: 56%;
   overflow: visible;
   stroke: #940eff;
   stroke-width: 2;
   stroke-linejoin: round;
   stroke-linecap: round;
 }