.Animate {   
   /*  height: 100vh;
    background-color: #940eff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; */

    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    background: linear-gradient(180deg, rgb(148,14,255), rgb(21,21,21));
}

.Animate h1{
    color: #0078ff;   
}

.Animate p{
    font-size: 2em;
    color: #0078ff;   
}

.Animate-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}
